=begin
#Synctera API

#This is the official reference documentation for Synctera APIs. If you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact-us' target='_blank' rel='noreferrer'>contact us</a>.</p>

The version of the OpenAPI document: 0.111.0

Generated by: https://openapi-generator.tech
Generator version: 7.5.0

=end

require 'cgi'

module Synctera
  class CardWebhookSimulationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Simulate Card Fulfillment Event
    # This endpoint is for testing environment only to trigger a simulated change in card fulfillment status event 
    # @param card_id [String] 
    # @param simulate_card_fulfillment [SimulateCardFulfillment] Desired simulated fulfillment status change value
    # @param [Hash] opts the optional parameters
    # @return [SimulateCardFulfillment]
    def simulate_card_fulfillment_event(card_id, simulate_card_fulfillment, opts = {})
      data, _status_code, _headers = simulate_card_fulfillment_event_with_http_info(card_id, simulate_card_fulfillment, opts)
      data
    end

    # Simulate Card Fulfillment Event
    # This endpoint is for testing environment only to trigger a simulated change in card fulfillment status event 
    # @param card_id [String] 
    # @param simulate_card_fulfillment [SimulateCardFulfillment] Desired simulated fulfillment status change value
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimulateCardFulfillment, Integer, Hash)>] SimulateCardFulfillment data, response status code and response headers
    def simulate_card_fulfillment_event_with_http_info(card_id, simulate_card_fulfillment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CardWebhookSimulationsApi.simulate_card_fulfillment_event ...'
      end
      # verify the required parameter 'card_id' is set
      if @api_client.config.client_side_validation && card_id.nil?
        fail ArgumentError, "Missing the required parameter 'card_id' when calling CardWebhookSimulationsApi.simulate_card_fulfillment_event"
      end
      # verify the required parameter 'simulate_card_fulfillment' is set
      if @api_client.config.client_side_validation && simulate_card_fulfillment.nil?
        fail ArgumentError, "Missing the required parameter 'simulate_card_fulfillment' when calling CardWebhookSimulationsApi.simulate_card_fulfillment_event"
      end
      # resource path
      local_var_path = '/cards/{card_id}/webhook_simulations/fulfillment'.sub('{' + 'card_id' + '}', CGI.escape(card_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(simulate_card_fulfillment)

      # return_type
      return_type = opts[:debug_return_type] || 'SimulateCardFulfillment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CardWebhookSimulationsApi.simulate_card_fulfillment_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CardWebhookSimulationsApi#simulate_card_fulfillment_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
