=begin
#Synctera API

#This is the official reference documentation for Synctera APIs. If you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact-us' target='_blank' rel='noreferrer'>contact us</a>.</p>

The version of the OpenAPI document: 0.139.0

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Synctera
  class EFTCanadaBetaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create EFT Canada Transfer
    # Create a new EFT Canada transfer > 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key An idempotency key is an arbitrary unique value generated by client to detect subsequent retries of the same request. It is recommended that a UUID or a similar random identifier be used as an idempotency key. A different key must be used for each request, unless it is a retry.
    # @option opts [EftCaCreate] :eft_ca_create The EFT Canada transfer to be created.
    # @return [EftCaResponse]
    def create_eftca_transfer(opts = {})
      data, _status_code, _headers = create_eftca_transfer_with_http_info(opts)
      data
    end

    # Create EFT Canada Transfer
    # Create a new EFT Canada transfer &gt; 🚧 Beta &gt; This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key An idempotency key is an arbitrary unique value generated by client to detect subsequent retries of the same request. It is recommended that a UUID or a similar random identifier be used as an idempotency key. A different key must be used for each request, unless it is a retry.
    # @option opts [EftCaCreate] :eft_ca_create The EFT Canada transfer to be created.
    # @return [Array<(EftCaResponse, Integer, Hash)>] EftCaResponse data, response status code and response headers
    def create_eftca_transfer_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EFTCanadaBetaApi.create_eftca_transfer ...'
      end
      # resource path
      local_var_path = '/eft_ca'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'eft_ca_create'])

      # return_type
      return_type = opts[:debug_return_type] || 'EftCaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EFTCanadaBetaApi.create_eftca_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EFTCanadaBetaApi#create_eftca_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EFT Canada Transfer
    # Get a specific EFT Canada transfer > 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param id [String] EFT Canada Transfer ID
    # @param [Hash] opts the optional parameters
    # @return [EftCaResponse]
    def get_eftca_transfer(id, opts = {})
      data, _status_code, _headers = get_eftca_transfer_with_http_info(id, opts)
      data
    end

    # Get EFT Canada Transfer
    # Get a specific EFT Canada transfer &gt; 🚧 Beta &gt; This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param id [String] EFT Canada Transfer ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(EftCaResponse, Integer, Hash)>] EftCaResponse data, response status code and response headers
    def get_eftca_transfer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EFTCanadaBetaApi.get_eftca_transfer ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EFTCanadaBetaApi.get_eftca_transfer"
      end
      # resource path
      local_var_path = '/eft_ca/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EftCaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EFTCanadaBetaApi.get_eftca_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EFTCanadaBetaApi#get_eftca_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get EFT Canada Transfers
    # Get all EFT Canada transfers > 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id EFT Canada Transfer ID
    # @option opts [Boolean] :is_same_day Is same day transfer
    # @option opts [String] :network_status Network status of the transfer
    # @option opts [String] :subtype Subtype of the transfer
    # @option opts [String] :to_posting_date To posting date of the transfer
    # @option opts [Integer] :min_amount Minimum amount of the transfer
    # @option opts [String] :originating_account_owner_name Originating account owner name
    # @option opts [String] :from_effective_date From effective date of the transfer
    # @option opts [String] :originating_account_number Originating account number
    # @option opts [String] :originating_account_id Originating account ID
    # @option opts [String] :currency Currency of the transfer
    # @option opts [String] :to_effective_date To effective date of the transfer
    # @option opts [String] :dc_sign DC sign of the transfer
    # @option opts [String] :posting_date Posting date of the transfer
    # @option opts [String] :effective_date Effective date of the transfer
    # @option opts [String] :customer_id Customer ID of the transfer
    # @option opts [String] :amount Amount of the transfer
    # @option opts [String] :destination_account_owner_name Destination account owner name
    # @option opts [String] :reference_id Reference ID of the transfer
    # @option opts [String] :from_posting_date From posting date of the transfer
    # @option opts [String] :status Status of the transfer
    # @option opts [String] :partner_id Partner ID of the transfer
    # @option opts [String] :destination_account_id Destination account ID
    # @option opts [String] :destination_account_number Destination account number
    # @option opts [String] :bank_id Bank ID of the transfer
    # @option opts [Integer] :max_amount Maximum amount of the transfer
    # @return [EftCaList]
    def get_eftca_transfers(opts = {})
      data, _status_code, _headers = get_eftca_transfers_with_http_info(opts)
      data
    end

    # Get EFT Canada Transfers
    # Get all EFT Canada transfers &gt; 🚧 Beta &gt; This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id EFT Canada Transfer ID
    # @option opts [Boolean] :is_same_day Is same day transfer
    # @option opts [String] :network_status Network status of the transfer
    # @option opts [String] :subtype Subtype of the transfer
    # @option opts [String] :to_posting_date To posting date of the transfer
    # @option opts [Integer] :min_amount Minimum amount of the transfer
    # @option opts [String] :originating_account_owner_name Originating account owner name
    # @option opts [String] :from_effective_date From effective date of the transfer
    # @option opts [String] :originating_account_number Originating account number
    # @option opts [String] :originating_account_id Originating account ID
    # @option opts [String] :currency Currency of the transfer
    # @option opts [String] :to_effective_date To effective date of the transfer
    # @option opts [String] :dc_sign DC sign of the transfer
    # @option opts [String] :posting_date Posting date of the transfer
    # @option opts [String] :effective_date Effective date of the transfer
    # @option opts [String] :customer_id Customer ID of the transfer
    # @option opts [String] :amount Amount of the transfer
    # @option opts [String] :destination_account_owner_name Destination account owner name
    # @option opts [String] :reference_id Reference ID of the transfer
    # @option opts [String] :from_posting_date From posting date of the transfer
    # @option opts [String] :status Status of the transfer
    # @option opts [String] :partner_id Partner ID of the transfer
    # @option opts [String] :destination_account_id Destination account ID
    # @option opts [String] :destination_account_number Destination account number
    # @option opts [String] :bank_id Bank ID of the transfer
    # @option opts [Integer] :max_amount Maximum amount of the transfer
    # @return [Array<(EftCaList, Integer, Hash)>] EftCaList data, response status code and response headers
    def get_eftca_transfers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EFTCanadaBetaApi.get_eftca_transfers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'min_amount'].nil? && opts[:'min_amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"min_amount"]" when calling EFTCanadaBetaApi.get_eftca_transfers, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_amount'].nil? && opts[:'max_amount'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_amount"]" when calling EFTCanadaBetaApi.get_eftca_transfers, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/eft_ca'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'is_same_day'] = opts[:'is_same_day'] if !opts[:'is_same_day'].nil?
      query_params[:'network_status'] = opts[:'network_status'] if !opts[:'network_status'].nil?
      query_params[:'subtype'] = opts[:'subtype'] if !opts[:'subtype'].nil?
      query_params[:'to_posting_date'] = opts[:'to_posting_date'] if !opts[:'to_posting_date'].nil?
      query_params[:'min_amount'] = opts[:'min_amount'] if !opts[:'min_amount'].nil?
      query_params[:'originating_account_owner_name'] = opts[:'originating_account_owner_name'] if !opts[:'originating_account_owner_name'].nil?
      query_params[:'from_effective_date'] = opts[:'from_effective_date'] if !opts[:'from_effective_date'].nil?
      query_params[:'originating_account_number'] = opts[:'originating_account_number'] if !opts[:'originating_account_number'].nil?
      query_params[:'originating_account_id'] = opts[:'originating_account_id'] if !opts[:'originating_account_id'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'to_effective_date'] = opts[:'to_effective_date'] if !opts[:'to_effective_date'].nil?
      query_params[:'dc_sign'] = opts[:'dc_sign'] if !opts[:'dc_sign'].nil?
      query_params[:'posting_date'] = opts[:'posting_date'] if !opts[:'posting_date'].nil?
      query_params[:'effective_date'] = opts[:'effective_date'] if !opts[:'effective_date'].nil?
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'destination_account_owner_name'] = opts[:'destination_account_owner_name'] if !opts[:'destination_account_owner_name'].nil?
      query_params[:'reference_id'] = opts[:'reference_id'] if !opts[:'reference_id'].nil?
      query_params[:'from_posting_date'] = opts[:'from_posting_date'] if !opts[:'from_posting_date'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'partner_id'] = opts[:'partner_id'] if !opts[:'partner_id'].nil?
      query_params[:'destination_account_id'] = opts[:'destination_account_id'] if !opts[:'destination_account_id'].nil?
      query_params[:'destination_account_number'] = opts[:'destination_account_number'] if !opts[:'destination_account_number'].nil?
      query_params[:'bank_id'] = opts[:'bank_id'] if !opts[:'bank_id'].nil?
      query_params[:'max_amount'] = opts[:'max_amount'] if !opts[:'max_amount'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EftCaList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EFTCanadaBetaApi.get_eftca_transfers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EFTCanadaBetaApi#get_eftca_transfers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a EFT Canada Transfer
    # To cancel a transfer, update the status to 'CANCELLED'. Only 'INITIATED' or 'PENDING` transfers can be cancelled. > 🚧 Beta > This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param id [String] EFT Canada Transfer ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key An idempotency key is an arbitrary unique value generated by client to detect subsequent retries of the same request. It is recommended that a UUID or a similar random identifier be used as an idempotency key. A different key must be used for each request, unless it is a retry.
    # @option opts [EftCaPatch] :eft_ca_patch Properties of the EFT Canada transfer to update.
    # @return [EftCaResponse]
    def patch_eftca_transfer(id, opts = {})
      data, _status_code, _headers = patch_eftca_transfer_with_http_info(id, opts)
      data
    end

    # Update a EFT Canada Transfer
    # To cancel a transfer, update the status to &#39;CANCELLED&#39;. Only &#39;INITIATED&#39; or &#39;PENDING&#x60; transfers can be cancelled. &gt; 🚧 Beta &gt; This is a Beta endpoint. Feedback from the community is welcome. We may make breaking changes. 
    # @param id [String] EFT Canada Transfer ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key An idempotency key is an arbitrary unique value generated by client to detect subsequent retries of the same request. It is recommended that a UUID or a similar random identifier be used as an idempotency key. A different key must be used for each request, unless it is a retry.
    # @option opts [EftCaPatch] :eft_ca_patch Properties of the EFT Canada transfer to update.
    # @return [Array<(EftCaResponse, Integer, Hash)>] EftCaResponse data, response status code and response headers
    def patch_eftca_transfer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EFTCanadaBetaApi.patch_eftca_transfer ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EFTCanadaBetaApi.patch_eftca_transfer"
      end
      # resource path
      local_var_path = '/eft_ca/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'eft_ca_patch'])

      # return_type
      return_type = opts[:debug_return_type] || 'EftCaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EFTCanadaBetaApi.patch_eftca_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EFTCanadaBetaApi#patch_eftca_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
