=begin
#Synctera API

#This is the official reference documentation for Synctera APIs. If you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact-us' target='_blank' rel='noreferrer'>contact us</a>.</p>

The version of the OpenAPI document: 0.136.0

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module Synctera
  class IncomingWiresApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get incoming wire by id
    # Get an incoming wire by id
    # @param wire_id [String] The unique identifier of a wire transfer.
    # @param [Hash] opts the optional parameters
    # @return [IncomingWire]
    def get_incoming_wire(wire_id, opts = {})
      data, _status_code, _headers = get_incoming_wire_with_http_info(wire_id, opts)
      data
    end

    # Get incoming wire by id
    # Get an incoming wire by id
    # @param wire_id [String] The unique identifier of a wire transfer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncomingWire, Integer, Hash)>] IncomingWire data, response status code and response headers
    def get_incoming_wire_with_http_info(wire_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncomingWiresApi.get_incoming_wire ...'
      end
      # verify the required parameter 'wire_id' is set
      if @api_client.config.client_side_validation && wire_id.nil?
        fail ArgumentError, "Missing the required parameter 'wire_id' when calling IncomingWiresApi.get_incoming_wire"
      end
      # resource path
      local_var_path = '/wires/incoming/{wire_id}'.sub('{' + 'wire_id' + '}', CGI.escape(wire_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncomingWire'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IncomingWiresApi.get_incoming_wire",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncomingWiresApi#get_incoming_wire\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List incoming wires
    # Get paginated list of incoming wires
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Date] :to_date Only display transactions with an effective date less than or equal to to_date
    # @option opts [Date] :from_date Only display transactions with an effective date greater than from_date
    # @option opts [String] :page_token 
    # @option opts [Array<String>] :id Unique resource identifier
    # @option opts [Integer] :limit  (default to 100)
    # @return [IncomingWireList]
    def list_incoming_wires(opts = {})
      data, _status_code, _headers = list_incoming_wires_with_http_info(opts)
      data
    end

    # List incoming wires
    # Get paginated list of incoming wires
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Date] :to_date Only display transactions with an effective date less than or equal to to_date
    # @option opts [Date] :from_date Only display transactions with an effective date greater than from_date
    # @option opts [String] :page_token 
    # @option opts [Array<String>] :id Unique resource identifier
    # @option opts [Integer] :limit  (default to 100)
    # @return [Array<(IncomingWireList, Integer, Hash)>] IncomingWireList data, response status code and response headers
    def list_incoming_wires_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncomingWiresApi.list_incoming_wires ...'
      end
      allowable_values = ["BLOCKED", "POSTED", "READY"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling IncomingWiresApi.list_incoming_wires, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/wires/incoming'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'page_token'] = opts[:'page_token'] if !opts[:'page_token'].nil?
      query_params[:'id'] = @api_client.build_collection_param(opts[:'id'], :csv) if !opts[:'id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IncomingWireList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IncomingWiresApi.list_incoming_wires",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncomingWiresApi#list_incoming_wires\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an incoming wire by id
    # Update an incoming wire by id
    # @param wire_id [String] The unique identifier of a wire transfer.
    # @param incoming_wire_patch [IncomingWirePatch] Patch incoming wire request
    # @param [Hash] opts the optional parameters
    # @return [IncomingWire]
    def patch_incoming_wire(wire_id, incoming_wire_patch, opts = {})
      data, _status_code, _headers = patch_incoming_wire_with_http_info(wire_id, incoming_wire_patch, opts)
      data
    end

    # Update an incoming wire by id
    # Update an incoming wire by id
    # @param wire_id [String] The unique identifier of a wire transfer.
    # @param incoming_wire_patch [IncomingWirePatch] Patch incoming wire request
    # @param [Hash] opts the optional parameters
    # @return [Array<(IncomingWire, Integer, Hash)>] IncomingWire data, response status code and response headers
    def patch_incoming_wire_with_http_info(wire_id, incoming_wire_patch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IncomingWiresApi.patch_incoming_wire ...'
      end
      # verify the required parameter 'wire_id' is set
      if @api_client.config.client_side_validation && wire_id.nil?
        fail ArgumentError, "Missing the required parameter 'wire_id' when calling IncomingWiresApi.patch_incoming_wire"
      end
      # verify the required parameter 'incoming_wire_patch' is set
      if @api_client.config.client_side_validation && incoming_wire_patch.nil?
        fail ArgumentError, "Missing the required parameter 'incoming_wire_patch' when calling IncomingWiresApi.patch_incoming_wire"
      end
      # resource path
      local_var_path = '/wires/incoming/{wire_id}'.sub('{' + 'wire_id' + '}', CGI.escape(wire_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(incoming_wire_patch)

      # return_type
      return_type = opts[:debug_return_type] || 'IncomingWire'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IncomingWiresApi.patch_incoming_wire",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IncomingWiresApi#patch_incoming_wire\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
