=begin
#Synctera API

#This is the official reference documentation for Synctera APIs. If you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact-us' target='_blank' rel='noreferrer'>contact us</a>.</p>

The version of the OpenAPI document: 0.147.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Synctera
  class RemoteCheckDepositBetaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Remote Check Deposit
    # Create a new deposit using remote deposit capture to an account 
    # @param [Hash] opts the optional parameters
    # @option opts [DepositPost] :deposit_post Attributes of the Remote Check Deposit to create
    # @return [DepositGet]
    def create_rdc_deposit(opts = {})
      data, _status_code, _headers = create_rdc_deposit_with_http_info(opts)
      data
    end

    # Create a Remote Check Deposit
    # Create a new deposit using remote deposit capture to an account 
    # @param [Hash] opts the optional parameters
    # @option opts [DepositPost] :deposit_post Attributes of the Remote Check Deposit to create
    # @return [Array<(DepositGet, Integer, Hash)>] DepositGet data, response status code and response headers
    def create_rdc_deposit_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RemoteCheckDepositBetaApi.create_rdc_deposit ...'
      end
      # resource path
      local_var_path = '/rdc/deposits'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deposit_post'])

      # return_type
      return_type = opts[:debug_return_type] || 'DepositGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RemoteCheckDepositBetaApi.create_rdc_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RemoteCheckDepositBetaApi#create_rdc_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Remote Check Deposit
    # Retrieves one deposit made using remote deposit capture associated with an account
    # @param deposit_id [String] ID of a deposit for a remote deposit capture
    # @param [Hash] opts the optional parameters
    # @return [DepositGet]
    def get_rdc_deposit(deposit_id, opts = {})
      data, _status_code, _headers = get_rdc_deposit_with_http_info(deposit_id, opts)
      data
    end

    # Get Remote Check Deposit
    # Retrieves one deposit made using remote deposit capture associated with an account
    # @param deposit_id [String] ID of a deposit for a remote deposit capture
    # @param [Hash] opts the optional parameters
    # @return [Array<(DepositGet, Integer, Hash)>] DepositGet data, response status code and response headers
    def get_rdc_deposit_with_http_info(deposit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RemoteCheckDepositBetaApi.get_rdc_deposit ...'
      end
      # verify the required parameter 'deposit_id' is set
      if @api_client.config.client_side_validation && deposit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deposit_id' when calling RemoteCheckDepositBetaApi.get_rdc_deposit"
      end
      # resource path
      local_var_path = '/rdc/deposits/{deposit_id}'.sub('{' + 'deposit_id' + '}', CGI.escape(deposit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DepositGet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RemoteCheckDepositBetaApi.get_rdc_deposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RemoteCheckDepositBetaApi#get_rdc_deposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Remote Check Deposits
    # Retrieves a paginated list of the deposits made using remote deposit capture associated with an account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Unique identifier for the account.
    # @option opts [String] :page_token 
    # @option opts [Integer] :limit  (default to 100)
    # @return [DepositList]
    def list_rdc_deposits(opts = {})
      data, _status_code, _headers = list_rdc_deposits_with_http_info(opts)
      data
    end

    # List Remote Check Deposits
    # Retrieves a paginated list of the deposits made using remote deposit capture associated with an account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Unique identifier for the account.
    # @option opts [String] :page_token 
    # @option opts [Integer] :limit  (default to 100)
    # @return [Array<(DepositList, Integer, Hash)>] DepositList data, response status code and response headers
    def list_rdc_deposits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RemoteCheckDepositBetaApi.list_rdc_deposits ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RemoteCheckDepositBetaApi.list_rdc_deposits, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/rdc/deposits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'page_token'] = opts[:'page_token'] if !opts[:'page_token'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DepositList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RemoteCheckDepositBetaApi.list_rdc_deposits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RemoteCheckDepositBetaApi#list_rdc_deposits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
