=begin
#Synctera API

#This is the official reference documentation for Synctera APIs. If you need something specific or have a question, <a class='text-blue-600' href='https://synctera.com/contact-us' target='_blank' rel='noreferrer'>contact us</a>.</p>

The version of the OpenAPI document: 0.108.0

Generated by: https://openapi-generator.tech
Generator version: 7.5.0

=end

require 'cgi'

module Synctera
  class TransactionsInternalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Transactions From Batch Payments Templates
    # Get all transactions that have the potential to be included in a batch payment. 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :enabled 
    # @return [PostedTransactions]
    def get_transactions_batch_payments(opts = {})
      data, _status_code, _headers = get_transactions_batch_payments_with_http_info(opts)
      data
    end

    # Get Transactions From Batch Payments Templates
    # Get all transactions that have the potential to be included in a batch payment. 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :enabled 
    # @return [Array<(PostedTransactions, Integer, Hash)>] PostedTransactions data, response status code and response headers
    def get_transactions_batch_payments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionsInternalApi.get_transactions_batch_payments ...'
      end
      # resource path
      local_var_path = '/transactions/batchable'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostedTransactions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TransactionsInternalApi.get_transactions_batch_payments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionsInternalApi#get_transactions_batch_payments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
