# Synctera::VerificationResult

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |

## Example

```ruby
require 'synctera'

instance = Synctera::VerificationResult.new()
```

