# Synctera::VerificationStatus

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |

## Example

```ruby
require 'synctera'

instance = Synctera::VerificationStatus.new()
```

